@import "tailwindcss";

@theme {
  --color-primary: #003559;
  --color-secondary: #002035;
  --color-accent-blue: #809BCE;
  --color-accent-peach: #E4C9B0;
  --color-accent-red: #ed2024;
  --color-accent-teal: #0d9488;
  --font-sans: "Inter", sans-serif;
  
  --animate-text-cycle: textCycle 8s ease-in-out infinite;
  --animate-marquee: marquee 30s linear infinite;
  
  @keyframes textCycle {
    0%, 100% {
      color: #ffffff;
    }
    25% {
      color: #809BCE;
    }
    50% {
      color: #E4C9B0;
    }
    75% {
      color: #ed2024;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

body {
  font-family: 'Inter', sans-serif;
}

/* Custom Utilities */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
